html {
  background-color: black;
  text-align: center;
}
p {
  font-family: Verdana, sans-serif;
  color: gray;
}
.header p {
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.link {
  color: aquamarine;
  font-size: 16px;
}
.item {
  padding-top: 30px;
  padding-bottom: 30px;
}
.item p {
  font-size: 21px;
}
.item .title {
  color: white;
  font-weight: 300;
  font-size: 42px;
}
.footer {
  text-align: right;
}
